@import "../../../../sass/variables";

.btn-primary {
  background-color: $primary-color;
  border: none;
}

.btn-primary:hover {
  background-color: lighten($primary-color, 5%);
}

.btn-primary:active {
  background-color: $primary-color !important;
}

.btn-google {
  background-color: $google-blue;
}

.btn-google:hover {
  background-color: lighten($google-blue, 5%);
}

.btn-google:active {
  background-color: $google-blue !important;
}

.icon-container {
  position: absolute;
  left: 1em;
}
