@import "../../../sass/_variables.scss";

.main {
  background: linear-gradient(
    to bottom right,
    $background-dark-color,
    $background-dark-lighter-color
  );
}

.container1 {
  height: 40rem;
  background: linear-gradient(
    90deg,
    $background-dark-lighter-color 0%,
    $background-dark-color 100%
  );
  background: -moz-linear-gradient(
    90deg,
    $background-dark-lighter-color 0%,
    $background-dark-color 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    $background-dark-lighter-color 0%,
    $background-dark-color 100%
  );
}

.vector1 {
  background-image: url("../../../assets/vector.png");
  background-repeat: no-repeat;
  background-position: bottom -20px left -60px;
  background-size: contain;
  min-width: 35em;
}

@media only screen and (max-width: 1000px) {
  .vector1 {
    display: none;
  }
  .container1-content {
    width: 100% !important;
  }
}

.container2 {
  min-height: 30rem;
  background-image: url("../../../assets/images/green-gradient.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 25em;
  min-height: 25em;
  background-color: rgba($background-dark-lighter-color, 0.6);
  transition: 0.1s all;
}
.card:hover {
  scale: 1.1;
  transition: 0.1s all;
}

.card-icon {
  color: $tertiary-color;
}

.card-text {
  min-height: 50%;
}
