@import '../../../../sass/_variables.scss';

input {
  background-color: #191a19;
  color: white;
}

::placeholder {
  color: rgb(167, 167, 167);
}

input:focus {
  background-color: $primary-color;
  color: white;
}

input:active {
  background-color: #191a19;
  color: white;
}
