@import "../../../../sass/_variables.scss";

input {
  background-color: $background-dark-color;
  color: white;
  margin-bottom: 1em;
}

::placeholder {
  color: $placeholder-color;
}

input:focus {
  border-color: $primary-color;
  background-color: $background-dark-color;
  color: white;
  outline: 1px solid $secondary-color;
}
::-moz-placeholder {
  color: rgb(167, 167, 167);
}

::placeholder {
  color: rgb(167, 167, 167);
}

input:focus {
  border-color: #1e5128;
  background-color: #191a19;
  color: white;
  outline: 1px solid #4e9f3d;
}

input:active {
  background-color: #191a19;
  color: white;
}
