$fonts: Roboto, "Helvetica Neue", sans-serif;
$background-dark-color: #191a19;
$background-dark-lighter-color: #272927;
$background-light-color: #b8b8b8;
$primary-color: #4e9f3d;
$secondary-color: #1e5128;
$tertiary-color: #d8e9a8;
$placeholder-color: rgb(167, 167, 167);

// Other colors
$google-blue: #4285f4;
