/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "./_variables.scss";
@import "./_mixins.scss";
@import "../../node_modules/tailwindcss/base.css";
@import "../../node_modules/tailwindcss/utilities.css";
@import "../../node_modules/tailwindcss/components.css";
@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-icons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css";

body {
  background-color: $background-dark-color !important;
  color: white !important;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $fonts;
}

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary-color,
    "dark": $background-dark-color,
  )
);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop(
  $utilities-colors,
  rgba-css-var,
  "$key",
  "text"
);
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// Set/override above bootstrap changes, do not remove
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
