@import "../../../sass/_variables.scss";

.toolbar-container {
  transition: all 0.5s;
}
.toolbar-attach {
  position: absolute !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.page-button {
  border: none;
  font-weight: 300;
}
.page-button:hover {
  background-color: $background-dark-lighter-color;
}
.page-button:active {
  background-color: $background-dark-lighter-color !important;
}
